<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/test.css">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <!--<link href="/static/plugins/ionicons/ionicons.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="static/plugins/ionicons/css/ionicons.min.css">
</head>
<body>
<div class="test" style="font-style:normal;font-size:25px;">
    <span class="ion-log-out"> 你好啊</span>
    <p>这是主页</p>
</div>
<a href="{% url 'login' %}">登录</a>
<a href="/admin">后台管理系统</a>
<a href="{% url 'layout' %}">layout</a>

</body>
</html>