<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/static/repsys/plugins/perspective/material.dark.css">-->
    <link rel="stylesheet" href="/static/repsys/plugins/perspective/material.css">
    <script src="/static/repsys/plugins/perspective/perspective.view.js"></script>
    <!--<script src="/static/repsys/plugins/perspective/perspective.node.js"></script>&ndash;&gt;-->
    <!--<script src="/static/repsys/plugins/perspective/perspective.umd.js"></script>-->
    <script src="/static/repsys/plugins/perspective/hypergrid.plugin.js"></script>
    <script src="/static/repsys/plugins/perspective/highcharts.plugin.js"></script>
    <script src="/static/repsys/plugins/jquery/dist/jquery.js"></script>
    <!--<script src="/static/repsys/plugins/perspective/wasm_async/perspective.js"></script>-->
    <!--<script src="/static/repsys/plugins/perspective/wasm_async/psp.js"></script>-->
    <!--<script src="https://unpkg.com/@jpmorganchase/perspective-examples/build/perspective.view.js"></script>-->
    <!--<script src="https://unpkg.com/@jpmorganchase/perspective-examples/build/hypergrid.plugin.js"></script>-->
    <!--<script src="https://unpkg.com/@jpmorganchase/perspective-examples/build/highcharts.plugin.js"></script>-->
</head>
<body>


<button class="btn-success" id="load_engine">加载引擎</button>
<button class="btn-success" id="load_data">加载数据</button>
<hr>

<perspective-viewer id="my_viewer" settings="true" style="height: 800px;width: 100%">


</perspective-viewer>

<script src="/static/repsys/plugins/perspective/croonyy.js"></script>
</body>
