/*.nav .open > a:hover {*/
/*background-color: #eee;*/
/*border-color: #337ab7*/
/*}*/

/*.dropdown-menu > .active > a:hover {*/
/*color: #eee;*/
/*text-decoration: none;*/
/*background-color: #337ab7;*/
/*outline: 0*/
/*}*/

.content-container .css_test {
    background-color: red !important;
    font-size: large;
    color: #00dcf8;

}

#mainnav-menu ul ul a:hover, .menu-popover .sub-menu ul ul a:hover {
    color: #fff
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #5b6270;
}

#mainnav-menu > li > ul > li > ul > li > a:hover {
    color: #fff
}

ul li a:hover {
    color: #fff
}

#mainnav-menu ul ul a:hover, .menu-popover .sub-menu ul ul a:hover {
    background-color:#fff !important;
}